@font-face {
    font-family: 'SF Pro';
    src: url('./../src/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'SF Pro', sans-serif;
    font-size: larger;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    a {
        text-decoration: none;
        position: fixed;
        right: 20px;
        top: 55px;
    }
}

main {
    padding-left: 30%;
    padding-right: 30%;
}

body > footer {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
}

@media (max-width: 768px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }

    body > footer {
        display: flex;
        flex-wrap: wrap;
    }
}